<!DOCTYPE HTML>
<div class="navbar">
      <a class="navbar-brand" href="#">Next Generation-Interactive Soil Moisture Forecasting System (NG-ISMFS)</a>
      <!-- Logos -->
      <div class="image-stack">
        <img class = "image" src="/assets/images/usda-2.png" alt="USDA">
        <div class = "bottom-stack">
          <img class = "image" src="/assets/images/CWS_logo.png" alt="CWS">
          <img class = "image"src="/assets/images/CSUN_Seal.png" alt="CSUN">
          <img class = "image" src="/assets/images/Auburn.png" alt="Auburn">            
          <img class = "image" src="/assets/images/NSF-NCAR-UCAR-Dark.png" alt="NSF NCAR UCAR">
          <img class = "image" src="/assets/images/CIRES.png" alt="CIRES">
          </div>
      </div>
    </div>
<div #mapViewNode>
    <div id="loadgif" *ngIf="show">
      <img id="loadingImg" src="/assets/images/loading.gif" style="position:absolute; right:950px; top:300px; z-index:100; width: 75px;" />
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header modal_bg">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Standardized Soil Moisture Anomaly Forecast</h1>
        <button (click)="destroyChart()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="loadgif" *ngIf="show">
          <img id="loadingImg" src="/assets/images/loading.gif" style="position:absolute; right:550px; top:130px; z-index:100; width: 75px;" />
        </div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button (click)="getdata()" class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">CESM vs Model 1 vs Model 2</button>
            <!-- <button (click)="getneondata()" class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">CESM2 vs Neon vs ERA-5</button> -->
            <!-- <button (click)="getReanalysisdata()" class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">ERA-5 vs MEERA-2</button> -->
            <button (click)="getMeandata()" class="nav-link" id="nav-mean-tab" data-bs-toggle="tab" data-bs-target="#nav-mean" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Bar Graph</button>
            <!-- <button (click)="getMeanNcardata()" class="nav-link" id="nav-mean-Ncar-tab" data-bs-toggle="tab" data-bs-target="#nav-mean-Ncar" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">NCAR vs Reanalysis Data</button> -->
            <!-- <button (click)="getmodel_2_data()" class="nav-link" id="nav-model-2-tab" data-bs-toggle="tab" data-bs-target="#nav-model-2" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">ERA-5 vs CESM2 vs Model 2</button> -->
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            <div class="col">
              <form class="row g-3" #userform = "ngForm" (ngSubmit) = "onClickSubmit(userform)" >
                <div class="col-md-3 mt-3">
                  <h6>CESM</h6>
                  <span>RMSE: {{ RMSE_CESM + ' ' }}</span>
                  <span>ACC: {{ ACC_CESM + ' '}}</span>
                </div>
                <div class="col-md-3 mt-3">
                  <h6>DL </h6>
                  <span>RMSE: {{ RMSE_Model_1 + ' ' }}</span>
                  <span>ACC: {{ ACC_Model_1 + ' '}}</span>
                </div>
                <div class="col-md-3 mt-3">
                  <h6>DL + CESM</h6>
                  <span>RMSE: {{ RMSE_Model_2 + ' ' }}</span>
                  <span>ACC: {{ ACC_Model_2 + ' '}}</span>
                </div>
                <div class="col-md-3 mt-3">
                  <h5>Additional Info</h5>
                  <span>Date: {{ chart_date + ' ' }}</span> <br>
                  <span>Address: {{ address + ' ' }}</span> <br>
                  <span>Latitude: {{latitude + ' '}}</span> <br>
                  <span>Longitude: {{longitude + ' '}}</span>
                </div>
              </form>
              
            </div>
          <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
          </div>
        </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="chart-container" >
              <span>Latitude: {{latitude}}</span>&nbsp;
              <span>Longitude: {{longitude}}</span>&nbsp;
              <span>Site : {{site_name}}</span>
              <canvas  id="MyChart_1" >{{ chart_1 }}</canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
            <div class="chart-container" >
              <canvas  id="MyChart_2" >{{ chart_2 }}</canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-mean" role="tabpanel" aria-labelledby="nav-mean-tab" tabindex="0">
            <div class="row">
              <div class="col-md-3 mt-1">
                <h5 *ngIf="chart_date_v1_st"><span>{{ (chart_date_v1_st | date:'MMM') + ' ' + (chart_date_v1_st | date:'dd') + ' - ' }}</span> <span>{{ (chart_date_v1_ed | date:'MMM') + ' ' + (chart_date_v1_ed | date:'dd') }}</span> </h5>
                <span>CESM RMSE: {{ RMSE_H2OSOI_0 + ' ' }}</span> <br>
                <span>DL RMSE: {{ RMSE_Model_1_Pred_0 + ' ' }}</span> <br>
                <span>DL + CSEM2 RMSE: {{ RMSE_Prediction_0 + ' ' }}</span>
              </div>
              <div class="col-md-3 mt-1">
                <h5 *ngIf="chart_date_v2_st"><span>{{ (chart_date_v2_st | date:'MMM') + ' ' + (chart_date_v2_st | date:'dd') + ' - ' }}</span> <span>{{ (chart_date_v2_ed | date:'MMM') + ' ' + (chart_date_v2_ed | date:'dd') }}</span> </h5>
                <span>CESM RMSE: {{ RMSE_H2OSOI_1 + ' ' }}</span> <br>
                <span>DL RMSE: {{ RMSE_Model_1_Pred_1 + ' ' }}</span> <br>
                <span>DL + CESM2 Model RMSE: {{ RMSE_Prediction_1 + ' ' }}</span>
              </div>
              <div class="col-md-3 mt-1">
                <h5 *ngIf="chart_date_v3_st"><span>{{ (chart_date_v3_st | date:'MMM') + ' ' + (chart_date_v3_st | date:'dd') + ' - ' }}</span> <span>{{ (chart_date_v3_ed | date:'MMM') + ' ' + (chart_date_v3_ed | date:'dd') }}</span> </h5>
                <span>CESM RMSE: {{ RMSE_H2OSOI_2 + ' ' }}</span> <br>
                <span>DL RMSE: {{ RMSE_Model_1_Pred_2 + ' ' }}</span> <br>
                <span>DL + CESM2 Model RMSE: {{ RMSE_Prediction_2 + ' ' }}</span>
              </div>
              <div class="col-md-3 mt-1">
                <h5>Additional Info</h5>
                <span>Date: {{ chart_date + ' ' }}</span> <br>
                <span>Address: {{ address + ' ' }}</span> <br>
                <span>Latitude: {{latitude}}</span> <br>
                <span>Longitude: {{longitude}}</span>
              </div>
            </div>
            <div class="chart-container" >
              <canvas  id="MyChart_3" >{{ chart_3 }}</canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-mean-Ncar" role="tabpanel" aria-labelledby="nav-mean-Ncar-tab" tabindex="0">
            
            <div class="chart-container" >
              <canvas  id="MyChart_4" >{{ chart_4 }}</canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-model-2" role="tabpanel" aria-labelledby="nav-model-2-tab" tabindex="1">
            <div>
              <span>MAE: {{ MAE_CESM + ' '}}</span>
              <span>RMSE: {{ RMSE_CESM + ' ' }}</span>
              <span>ACC: {{ ACC_CESM + ' '}}</span>
            </div>
            <div class="chart-container" >
              <canvas  id="MyChart_5" >{{ chart_5 }}</canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
  </div>

  <div class="side_nav">
    <div id="info">
      <h4>Information</h4>
    </div>
    <div class="col-auto mt-5">
      <form class="row g-3" #Ncar_date = "ngForm" (ngSubmit) = "onClickWeek(Ncar_date)" >
        <div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
              <i class="fa fa-info-circle"></i> <span>Click for instructions</span>
          </button>
          <!-- Vertically centered scrollable modal -->
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-backdrop="false">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                  <div class="modal-content">
                      <div class="modal-header" style="background-color: #337ab7; color: white;">
                          <h5 class="modal-title" id="staticBackdropLabel" >Instructions</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <ul>
                            <li>Choose the date and click the "Select" button.</li>
                            <li>Click on any location on the map and then click "Get Chart."</li>
                            <li>To change the map color based on CESM week's data, use the dropdown menu.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
        <div>
          <h3>Chart Section</h3>
        </div>
        <div class="col-auto">
          <label for="start_date">Start date  :&nbsp;</label>
          <input [(ngModel)]="Nc_dates" type="date" id="start_date" name="Nc_date"
                value="2020-01-01"
                min="1999-01-01" max="2021-12-31" (ngModelChange)= "onClickDate(Ncar_date)">
        </div>
        <!-- <div class="col-auto">
          <label for="end_date">End date  :&nbsp;&nbsp;</label>
          <input [(ngModel)]="Nc_end_dates" type="date" id="end_date" name="Nc_end_date"
                value="2018-01-01"
                min="1999-01-01" max="2018-12-31">
        </div> -->
        <div class="col-auto">
          <input class="btn btn-primary mt-1" type = "submit" value = "Select">
        </div>
      </form>
    </div>
    <div class="p-3" id="loc" *ngIf="address != null">
      <ul class="list-unstyled">
        <li><strong>Address</strong> : {{address}}</li>
        <li><strong>Latitude</strong> : {{latitude}}</li>
        <li><strong>Longitude</strong> : {{longitude}}</li>
      </ul>
      <!-- <div *ngIf="show_data">
        <button (click)="getdata()" type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Get Chart
        </button>
      </div> -->
      <div> 
        <button (click)="getdata()" type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Get Chart
        </button>
      </div>
      <!-- <div  *ngIf="show_data_Note">
        <p>Note: Select Date</p>
      </div> -->
    </div>
    <div *ngIf="address == null">
      <p class="text-center mt-5">Click to Get data</p>
    </div>
    <form class="row g-3" #userWeek = "ngForm" (ngSubmit) = "onClickWeek(userWeek)">
      <div>
        <h3>Color Map Section</h3>
        <h5>Select</h5>
      </div>
      <div class="col_auto_1">
        <label class="mt-1">Week :&nbsp;</label>
        <select [(ngModel)]="Week" name = "WeekCount" class="form-select" (ngModelChange) = "onClickWeek(userWeek)">
          <option value="1" selected>1st - 2nd Week</option>
          <option value="2">3rd - 4th Week</option>
          <option value="3">5th - 6th Week</option>
        </select>
      </div>
    </form>
</div>


<!--
</div>
<header class="navbar">
		<div class="logo-group">
      <div class="image-stack">
          <img class="image" src="/assets/images/CSUN_Seal.png" alt="CSUN">
          <img class="image" src="/assets/images/Auburn.png" alt="Auburn">
        </div>
      <div class="title">
        <a class="navbar-brand" href="#"> 
          <span> Next Generation–Interactive Soil Moisture Forecasting System (NG-ISMFS)</span>
          <span class="title-line" href="#"> </span>
        </a>
      </div>
      <div class="image-stack">
        <img class="image" src="/assets/images/usda-2.png" alt="USDA">
        <div class = "bottom-stack">
          <img class="image" src="/assets/images/CWS_logo.png" alt="CWS">
          <img class="image" src="/assets/images/NSF-NCAR-UCAR-Dark.png" alt="NSF NCAR UCAR">
          <img class="image" src="/assets/images/CIRES.png" alt="CIRES">
        </div>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
</header>
-->
